{
	"$schema": "https://www.schemastore.org/prettierrc.json",
	"useTabs": true,
	"printWidth": 80,
	"overrides": [
		{ "files": ["*.{json,jsonc}"], "options": { "trailingComma": "none" } },
		{ "files": ["*.{yaml,yml}"], "options": { "tabWidth": 2 } }
	]
}
